<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exc.rabbitmq.mapper.ProducerMapper" >

    <resultMap id="producerMap" type="com.exc.rabbitmq.pojo.MyProducer" >
        <id column="PRODUCER_ID" property="producerId" jdbcType="INTEGER" />
        <result column="PRODUCER_NAME" property="producerName" jdbcType="VARCHAR" />
        <result column="QUEUE_NAME" property="queueName" jdbcType="VARCHAR" />
        <result column="EXCHANGE_NAME" property="exchangeName" jdbcType="VARCHAR" />
        <result column="ROUTE_KEY" property="routeKey" jdbcType="VARCHAR" />
        <result column="EXCHANGE_TYPE" property="exchangeType" jdbcType="VARCHAR" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="column" >
        PRODUCER_ID, PRODUCER_NAME, QUEUE_NAME, EXCHANGE_NAME, ROUTE_KEY, EXCHANGE_TYPE, CREATE_TIME
    </sql>

    <select id="getProducerList" resultMap="producerMap" >
        SELECT
        <include refid="column" />
        FROM TB_PRODUCER;
    </select>

</mapper>